.about{
     margin: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    
    .title{
        text-align: center;
    }
    h2{
        font-size: 2rem;
        font-weight: 700;
        
    }
    p{
        color: $Grayish-Blue;
    }
   
    .right{
        margin: 30px;
        text-align: left;
        a{
            border: none;
            text-decoration: none;
            padding: 15px 30px;
            border-radius: 10px;
            background-color: $button-bg;
            color:#Ffff;
        }
    }
    
}

