.hero {
    margin: 150px 0 100px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    // border-bottom: 2px solid black  ;
    
}
.row{
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    

}
.hero .left{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;
    
    
    img{
        height: 50px;
        margin-top: 20px;
        transition: all 0.3s ease-in-out;
        &:hover{
            border-radius: 50%;
            background-color: none;
            box-shadow: 0 10px 20px rgba(0,0,0,0.2);
            transform: scale(1.2)
        }
    }
}
.hero .right{

    
    span{
        display: block;
        font-weight: 400;
    }
    h1{
        font-size: 55px;
        font-weight: 700;
        margin-bottom: 30px;
    }
    p{
        color: $Grayish-Blue;
        margin-bottom: 30px;
    }
    a{
        border: none;
        text-decoration: none;
        padding: 15px 30px;
        border-radius: 10px;
        background-color: $button-bg;
        color:#Ffff;
        box-shadow: 0 10px 20px rgba(0,0,0,0.5);

        &:hover{
            opacity: 0.7;
        }
        
        
        &:outline{
            border: none;
        }
    }
    
}

